current workflow
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b254d115-f5e9-4a00-925d-7abeca2fa53d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        -180
      ],
      "id": "1d8dcb19-5055-45d0-86f6-ee22bd13661e",
      "name": "Webhook",
      "webhookId": "b254d115-f5e9-4a00-925d-7abeca2fa53d"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        20
      ],
      "id": "847d327c-7ec2-4139-ad0b-98424dd01125",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "={{ $json.body.file_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        -80
      ],
      "id": "e6c3a115-3505-4e37-82fd-d6247c48e3a5",
      "name": "GET audio file"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2196,
        -80
      ],
      "id": "04b1a384-9cfd-4d87-8bcd-e98ff372443e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "Advanced Sermons",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "id": "8d85b887-656c-48c2-9a4f-7caaa549ea9f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4c64b38d-828f-4c43-8ca6-425c38d357eb",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "Church Content",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e00f6823-8478-4223-9456-6a831bf0f6e0",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "Sermon Manager",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2416,
        -80
      ],
      "id": "cc5c0308-3396-460e-8c1f-642ea29d97a3",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/your-namespace/v1/plugins/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1976,
        -80
      ],
      "id": "8f8f0222-a307-431a-bb4c-5d6fa24bec3e",
      "name": "GET plugin list",
      "credentials": {
        "httpBasicAuth": {
          "id": "Fjw36WNkmnOoeMiF",
          "name": "Unnamed credential 6"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        280,
        -80
      ],
      "id": "229f00f4-f955-4963-91d2-57fbf656d50d",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "uHhM3GMtCxg9mo7L",
          "name": "5MT n8n Sermon Publishing Workflow OpenAI Key"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Break this sermon transcription into paragraphs and format it: {{ $json.text }} Ensure correct capitalization and punctation. Do not alter the words in any way. ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        500,
        -80
      ],
      "id": "2d1d9081-0cef-497b-b702-5a62d6f43fec",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        588,
        140
      ],
      "id": "94ce2384-d4d2-4f39-83d0-901b4e79af48",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "uHhM3GMtCxg9mo7L",
          "name": "5MT n8n Sermon Publishing Workflow OpenAI Key"
        }
      }
    },
    {
      "parameters": {
        "folderId": "12HWlNx3wlNW8I2dTXu8BrzLSTBuOV9XW",
        "title": "Sermon Transcription"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        876,
        -80
      ],
      "id": "2e314e0b-22de-4b27-a18d-16dc9290ad47",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "C6ZybAkU5V3IjyOx",
          "name": "Google Docs account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1096,
        -80
      ],
      "id": "069400bb-224c-4181-813a-2fcdce9d6044",
      "name": "Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "C6ZybAkU5V3IjyOx",
          "name": "Google Docs account 4"
        }
      }
    },
    {
      "parameters": {
        "url": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/sermons?per_page=1&orderby=date&order=desc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2636,
        -280
      ],
      "id": "59ede291-68db-447e-be18-38d0141156eb",
      "name": "Advanced Sermons",
      "credentials": {
        "httpBasicAuth": {
          "id": "Fjw36WNkmnOoeMiF",
          "name": "Unnamed credential 6"
        }
      }
    },
    {
      "parameters": {
        "url": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/ctc_sermon?per_page=1&orderby=date&order=desc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2636,
        -80
      ],
      "id": "f14111bb-7fa3-4486-9c92-146347925e7e",
      "name": "Church Content",
      "credentials": {
        "httpBasicAuth": {
          "id": "Fjw36WNkmnOoeMiF",
          "name": "Unnamed credential 6"
        }
      }
    },
    {
      "parameters": {
        "url": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/wpfc_sermon",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2636,
        120
      ],
      "id": "e662dd56-9281-4600-a6bd-f3e7bd228330",
      "name": "Sermon Manager"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e98f7262-98cb-4445-a276-4a85b6d4b3e5",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1536,
        -80
      ],
      "id": "a041be69-14c6-4566-8c63-b5af10ddc63d",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1756,
        -5
      ],
      "id": "c3c423c7-652b-44ce-b152-5de4e994f80b",
      "name": "Wait",
      "webhookId": "f3c1fecb-9953-4f0e-8645-1bb909ecaa82"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "charlottelwolfe17@gmail.com",
        "subject": "Sermon Transcription",
        "message": "=This is the transcription of the most recent sermon: {{ $('AI Agent').item.json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1316,
        -80
      ],
      "id": "d32ef6ab-33f2-43fb-b576-f2b3ba01302f",
      "name": "Transcription approval",
      "webhookId": "ea672b6e-fce9-4387-ad6c-98448866f71a",
      "credentials": {
        "gmailOAuth2": {
          "id": "rZdwGrO2BTAstFjW",
          "name": "CW Gmail Account "
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a blog post based on a sermon titled by {{ $json.title }} {{ $json.speaker }} during the {{ $json.series }} sermons series on the book {{ $json.book }},focusig on the topic of {{ $json.topic }}. This is the transcription: {{ $('AI Agent').item.json.output }}\nInclude headings and formatting. Do not alter the message or theology of the sermon.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        3076,
        -80
      ],
      "id": "559c5ccc-928a-4848-8667-078cbacf0258",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3164,
        140
      ],
      "id": "ec546bd9-cee5-4e56-87c9-aab18435d60b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "uHhM3GMtCxg9mo7L",
          "name": "5MT n8n Sermon Publishing Workflow OpenAI Key"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $('Edit Fields1').item.json.title }}",
        "additionalFields": {
          "content": "={{ $json.output }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        3452,
        -80
      ],
      "id": "bc0535e4-b27c-4981-b487-12ae668e9bab",
      "name": "Wordpress",
      "credentials": {
        "wordpressApi": {
          "id": "hiuJJQSTD7AaUFnU",
          "name": "CW Wordpress Staging Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Transcripton Creation\nUsing whisper to transcribe the mp3 file sent from the web hook trigger",
        "height": 620,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8,
        -340
      ],
      "typeVersion": 1,
      "id": "eb72f0f5-b14f-4e29-b065-eb179be1b73c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Transcription Editing \nStoring the transcription in a google doc and allowing the user to approve it/make edits if needed",
        "height": 620,
        "width": 1080,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        -340
      ],
      "typeVersion": 1,
      "id": "ea43260d-eb2a-418a-a3f6-0738b291dc8b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Getting post attributes from different plugins\nDetermining which plugin is being used and then assigning fields based on custom fields",
        "height": 620,
        "width": 1100,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1916,
        -340
      ],
      "typeVersion": 1,
      "id": "6f1a46ef-9290-4dc0-9257-955c116e83c4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Creating a blog post \nUsing sermon attributes and transcription to create and post an AI-generated blog post",
        "height": 620,
        "width": 560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3034,
        -340
      ],
      "typeVersion": 1,
      "id": "4674ad80-624e-4584-b92d-85ca68f273b6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "ctc_sermon_topic",
              "newKey": "topic"
            },
            {
              "currentKey": "ctc_sermon_book",
              "newKey": "book"
            },
            {
              "currentKey": "ctc_sermon_series",
              "newKey": "series"
            },
            {
              "currentKey": "ctc_sermon_speaker",
              "newKey": "speaker"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        2856,
        -80
      ],
      "id": "7416c4da-be19-49db-abbc-f50a97456407",
      "name": "Rename Keys"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "ctc_sermon_topic",
              "newKey": "topic"
            },
            {
              "currentKey": "ctc_sermon_book",
              "newKey": "book"
            },
            {
              "currentKey": "ctc_sermon_series",
              "newKey": "series"
            },
            {
              "currentKey": "ctc_sermon_speaker",
              "newKey": "speaker"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        2856,
        120
      ],
      "id": "5244f058-f97c-4875-a439-3acae77656a0",
      "name": "Rename Keys2"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "sermon_topics",
              "newKey": "topic"
            },
            {
              "currentKey": "sermon_book",
              "newKey": "book"
            },
            {
              "currentKey": "sermon_series",
              "newKey": "series"
            },
            {
              "currentKey": "sermon_speaker",
              "newKey": "speaker"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        2856,
        -280
      ],
      "id": "d31066df-fa62-4223-8899-1514bbe43e18",
      "name": "Rename Keys1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "GET audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GET audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET audio file": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Advanced Sermons",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Church Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sermon Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET plugin list": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs1": {
      "main": [
        [
          {
            "node": "Transcription approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advanced Sermons": {
      "main": [
        [
          {
            "node": "Rename Keys1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Church Content": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sermon Manager": {
      "main": [
        [
          {
            "node": "Rename Keys2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "GET plugin list",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "GET plugin list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcription approval": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        []
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "twotalents.app.n8n.cloud",
          "user-agent": "WordPress/6.8.1; https://charlottewolfe2025.mystagingwebsite.com",
          "content-length": "304",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "cdn-loop": "cloudflare; loops=1; subreqs=1",
          "cf-connecting-ip": "2403:6b80:7:100::6773:9db",
          "cf-ew-via": "15",
          "cf-ipcountry": "US",
          "cf-ray": "95b41a4a329bf0b8-DFW",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "cf-worker": "n8n.cloud",
          "content-type": "application/json",
          "x-forwarded-for": "2403:6b80:7:100::6773:9db, 172.70.94.55",
          "x-forwarded-host": "twotalents.app.n8n.cloud",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "traefik-prod-users-gwc-37-d47f5fc8c-tf22x",
          "x-is-trusted": "yes",
          "x-real-ip": "2403:6b80:7:100::6773:9db"
        },
        "params": {},
        "query": {},
        "body": {
          "file_name": "2025-06-08-The-Folly-Of-Idols-Andrew-Barnes-611251541375930-1.mp3",
          "file_url": "https://charlottewolfe2025.mystagingwebsite.com/wp-content/uploads/2025/07/2025-06-08-The-Folly-Of-Idols-Andrew-Barnes-611251541375930-1.mp3",
          "file_type": "audio/mpeg",
          "upload_time": "2025-07-07 03:02:22"
        },
        "webhookUrl": "https://twotalents.app.n8n.cloud/webhook-test/b254d115-f5e9-4a00-925d-7abeca2fa53d",
        "executionMode": "test"
      }
    ],
    "OpenAI": [
      {
        "text": "Let's turn in the Word to Isaiah 41. Isaiah 41, this evening reading verses 1-9. Isaiah 41, verses 1-9. And before we read God's Word, let's pray together. Father, we're thankful once again that you speak to us and reveal yourself. Revealing even the mysteries to us in Christ your Son. Father, now we plead for your grace to be showered upon your people, your elect. That you would send your Holy Spirit and work in our minds, our hearts, our wills, and our affections. That you would mold us to be righteous as Christ Jesus your Son is righteous. And so make us to be a faithful people to you. And here, Father, we pray that you would humble us before your throne. Remembering that you are infinitely great. And infinitely powerful as we heard in chapter 40. And creating the trillions upon trillions of stars. Knowing each one of them by name. Father, humble us. We pray in Jesus' name, Amen. Isaiah 41, verse 1. These are God's words. Keep silence before me, O islands, and let the people renew their strength. Let them come nearer, then let them speak. Let us come nearer together to judgment. Who raised up the righteous man from the east, called him to his foot, gave the nations before him, and made him rule over kings? He gave them as the dust to his sword and as driven stubble to his bow. He pursued them and passed safely, even by the way that he had not gone with his feet. Who hath wrought and done it, calling the generations from the beginning? I, the Lord, the first and with the last, I am He. The isles saw it and feared. The ends of the earth were afraid. Drew near and came. They helped everyone his neighbor, and everyone said to his brother, Be of good courage. So the carpenter encouraged the goldsmith, and he that smootheth with the hammer him that smote the anvil, saying, It is ready for the soldering. And he fastened it with nails, that it should not be moved. But thou, Israel, art my servant. Jacob, whom I have chosen the seed of Abraham my friend, thou whom I have taken from the ends of the earth, and called thee from the chief men thereof, and said unto thee, Thou art my servant. I have chosen thee and not cast thee away. Those are God's words. The context here is still the same as we heard last Lord's Day, same as chapter 40, where Judah is struggling with trusting the Lord that He is who He says He is. And they said in verse 27 of chapter 40, it says there, Why sayest thou, O Jacob, and speakest thou Israel? So here's what God's people say, the covenant people say, My way is hid from the Lord, and my judgment is passed over from my God. We've seen that if they and we ourselves would just think and believe rightly about God, you know what chapter 40 revealed to us of God, then we and they would have abundant grounds for waiting upon the Lord and having our strength renewed, as we heard in the last verse, verse 31 of chapter 40. But now the Lord here turns to the nations, the pagan nations. If the Lord is who He is in chapter 40, He reminds His people of who He is to them and for them, His great and almighty, all-powerful, eternal, unchangeable God. And what about the nations which reject Him and do not believe in Him? What about Assyria? As recently we've heard come up against them. And Babylon, that nation who's been promised to come and take Judah into captivity. What about them? The first point this evening, the nation's strength is vanity before the Lord. The nation's strength is vanity before the Lord. See, in verse 1 it says, Keep silence before me, O islands, and let the people renew their strength. Let them come nearer. Then let them speak. Let us come nearer together to judgment. So here the Lord turns to the nations who reject Him, especially the coastland islands, the Mediterranean Sea. And He challenges them to gather up all their strength. He just used similar language in verse 31 to God's covenant people. Wait upon the Lord and the Lord shall renew your strength. And now He uses that similar language as He turns to the nations. And He reminds His people of who He is to them and for them. So then what about the nations? You see, the Lord confronts the nations who do not wait, verse 31 of chapter 40, who do not wait upon the Lord and who do not trust in the Lord. He says to them, Let the people renew their strength. Go ahead. Renew your strength. So He's saying to them that though they do not wait upon the Lord for Him to exchange their strength, their weak strength, right? Their weakness. They don't wait upon Him to exchange their strength and to exchange that for His strength by His infinite, eternal, and unchangeable might and power. Now He says, Let them renew their own strength. That's what He's saying. Let them gather up all the strength they have and take hold of any other strength they can muster that they can gain from all their self-confidence and all from their false gods, their idols. And so here the Lord is challenging the nations to the futile activity of gathering their own strength apart from the Lord and see if they can prevail against Him. That same type of strength we saw last Lord's Day, chapter 40, verse 30, even the youths and the young men in their strength, right? Faint and become weary. So He's saying there in verse 30, in case you weren't here, even the youths, the young men, they have the most strength. The Lord has given them commonly all young men, generally speaking, strength greater than older folks or even children. And here in the same way, that same type of strength is what is being described of as the nations. They will faint and they will become weary. So that those who do not trust in Jehovah and hope in Him and look to Him for strength, what the Lord is saying is, gather your own strength then and see how you do against Me rather than waiting truly upon Me. Let them be silent, He says, while the Lord speaks, to see if the nations can answer. He says here again, verse 1, keep silence before Me, O islands, and let the people renew their strength. Let them come near. Then let them speak. Let us come near together to judgment. And so the Lord is saying again to the nations, do you see what you can do? Let's see what you can do. Keep silence and listen to Me. And then see if you can answer in judgment. See if the nations can make a case for themselves before the Judge of all creation. And so the verse is telling us that all self-reliance and all false confidences end in disaster because we know what is going to happen when they come up before the Lord. They're doomed. They cannot contend with the Lord who is almighty in power and strength and prevail even once in an infinite amount of opportunities. Right? They can do nothing. They will never prevail against Him. All those unbiblical hopes of ultimate happiness that they have, the nations have, will come to nothing. We either have a well-grounded hope according to the Scriptures, or we live in a fantasy world like we heard last Thursday, a lie every day. If your confidence is in the Lord according to His will, then you shall not be put to shame. You will not be ashamed in all your hoping in His promises as we heard last Thursday waiting upon Him. But if your confidence is somewhere else, then the Lord will bring that confidence to nothing. He's saying. Deuteronomy 4, it says, for the Lord thy God is a consuming fire, even a jealous God. He's showing that here. He will not give His glory to another. He will not prosper the false hope of unbelieving men. And so all those unbiblical hopes of true happiness, unbiblical hopes of true happiness are doomed. Perhaps you hope to be happy ultimately forever. Well, what is the ground of that hope? Why do you have certainty that you will have what you want when you're hoping in that? Is it wishful thinking? Or is it confidence in the words that have proceeded out from the mouth of the living and true God? Is it confidence in God's promises? Promises of His mercy? Promises of His forgiveness? Promises of glory to them who believe on Christ Jesus? Because if it is not confidence in the Lord, if it is not confidence in His Word and hope in His promises, then all other confidences are futile. And before this, God, You will fall and be judged so that here the nations are called to take up all their strength, everything they can muster, and yet it will be as nothing before the Sovereign Almighty God of all creation. The nation's strength is vanity before the Lord. And then secondly, the governor of the nations. The governor of the nations. Verse 2, it says, who raised up the righteous man from the east, called him to His foot, gave the nations before Him, and made Him rule over kings. He gave them as the dust to His sword and as driven stubble to His bow. He pursued them and passed safely even by the way that He had not gone with His feet. Who hath wrought and done it, calling the generations from the beginning? I the Lord, the first and with the last, I am He. Here again, like chapter 40, the Lord is speaking of Himself. Who He is. What He does. And He again, speaking of Himself, asks a rhetorical question in verse 4. Who? Who is the question in verse 4? We already know the answer, and it does say the answer there. It's the Lord who has done it. Who is described as the righteous man from the east in verse 2 then? This is a little bit more difficult, but when we look at the original language, we are helped as well. When we look at the context of the rest of the book of Isaiah, the rest of what the Scriptures teach, we are helped immensely. Verse 2 begins literally like this. Who raised up righteousness from the east? And yet then the translation here personifies righteousness. The thought here is that there is a man who is an instrument of God's providential righteousness in view. Not that the man himself is righteous, but that there is an instrument being used by the Lord bringing this man from the east, and he will be the instrument of the Lord's righteousness. Not necessarily his righteousness, it is the Lord's righteousness and him being used as an instrument of the Lord. From this we would believe this refers to Cyrus the king of the Medes and Persians. And so here is another early reference to even before the Babylonian exile, even before Cyrus is alive. Another example of this in the book of Isaiah. In Isaiah we've seen this before. There have been many things that have been introduced little by little. Even through the book of Isaiah, it's progressively revealed, just like the covenants are progressively revealed throughout all the Scriptures. So, there are certain things in Isaiah, the book itself that's introduced and revealed to us little by little with general comments, beginning with general comments with no names, to then later revealing more. We heard early on about how Assyria, they knew about Assyria at the time, but they were told it's not going to be Assyria that takes you captive. They will not defeat you. But there is another nation who will take you into captivity, but we didn't know the nation's name yet. We knew, of course, because we're looking at all the Scriptures, but they didn't know yet. And then just recently we read how the Lord revealed it was Babylon who was going to do this. Well, Babylon's not even a great nation yet. And at the time of the first revealing of the nation's going to take you into captivity, Babylon wasn't even close to being known among the people. So here it is the same with the identity of Cyrus. In Isaiah 45 it says this, Thus saith the Lord to His anointed, to Cyrus, whose right hand I have holden to subdue nations before him, and I will loose the loins of kings to open before him the two leaved gates, and the gates shall not be shut. I will go before thee and make the crooked places straight. I will break in pieces the gates of brass and cut and sunders the bars of irons, and I will give thee the treasures of darkness and hidden riches of secret places that thou mayest know that I the Lord which call thee by thy name am the God of Israel. And then also Isaiah 46. And notice the similar language of from the east here. It says, Calling a ravenous bird from the east that man that executed my counsel from a far country. Right? It's not literally a bird. It's talking about a man that's going to execute my counsel from a far country, so not from within Judah. Yeah, I have spoken it. I will also bring it to pass. I have purposed it. I will also do it. And so the Lord is thus in our passage. We know now, speaking of future things, of how He will use a man, and we know that man's name, Cyrus, the king of the Medes and Persians, though he's not even born yet at this time. And the Lord is going to use Cyrus to deliver His people, His covenant people, from the Babylonian exile. And He's speaking of them here, of those events as past events that they are so sure of happening, they are described as happening in the past, and yet still hasn't actually happened at this point in Isaiah 41 yet. And the Lord says here that He would call them to His foot, that is to His footstool. Cyrus would be His servant to fulfill His glorious purpose that He of course eternally decreed before creation. And then Cyrus' victories are described. Verse 2, that the Lord gave the nations before Him and made Him ruler over kings. He gave them as dust to His sword and driven stubble to His bow. Verse 3, He pursued them and passed safely even by the way that He had not gone with His feet. And so what we're learning there is that Cyrus' victories would be great so He would pursue, but He would not be pursued Himself. And then verse 4, the question comes again. Who? Who hath wrought and done it? Who brings about Cyrus? Who brings about Assyria? Who brings about Babylon? Who hath wrought and done it, calling the generations from the beginning even I the Lord, the first and with the last, I am He. So long before Cyrus was even around, the Lord's revealing this to His people of Judah. This is again before the Babylonian exile even started. Before Babylon is itself a world power called the world power later in the Scriptures. You see, the Lord did this. He says, I have this purpose fixed so much so that it is for Me, for the Lord. It is already history. It is that certain that it's already accomplished. That you will go into exile. Cyrus, My servant, will deliver you. He is the One who calls the generations into existence. He is the eternal God. He is the first and the last. He's always been, He always will be. And He governs everything in every generation. And you remember this is the title given as well to the Lord Jesus, Revelation 1, saying, I am Alpha and Omega, the first and the last. In Revelation 22, beginning of Revelation, end of Revelation. The same thing, I am Alpha and Omega, the beginning and the end, the first and the last. Because the Lord Jesus is Jehovah, the second person of the one Godhead, He is called the beginning and the end. And here is the Lord declaring that He has ordained the end from the beginning. That the whole history of man and his people, all generations is ordained from before the foundation of the world much similar to what we heard this morning. And that, of course, includes Judas' captivity in Babylon. It includes Cyrus' conquering Babylon as a means of deliverance and sending them back to Jerusalem. That this was ordained of God from eternity. Friends, if those things are true, we also know, yes, they are true. We also know everything else that occurs in this world is also ordained of God from all eternity. And from this we can draw comfort. Just like we heard this morning, we draw comfort from these things. Comfort from a God who is in complete control. And comfort. But it's a comfort that's only granted by God to you if you are one of His children. That the sovereign God governs all things. And through our eyes, I go back to chapter 40 in verse 27, and the question there is, it doesn't seem like you know what's going on, God. It doesn't seem like you care, you're acting. Through our eyes, perhaps it seems random, arbitrary, somewhat chaotic, what happens in this world. And yet, we need to remember the Word of God and what He says. Everything is ordained of God from eternity. And He brings it about in time according to His providence. As we heard about that again this morning. Those troubles and afflictions that come upon us even at the hand of men, even at the hand of men, they seem so meaningless, sometimes random, but they're all governed by the sovereign God of heaven and earth. And that means for the people of God that there is a guarantee confirmed by His Word that He will work all things together for our good. And we know that Jesus Christ as Mediator King, as the Governor of the nations, has been given power and authority to govern here in this way over all creation for our good, for the sake of the church, Ephesians 1. Remember back in Isaiah 9 about His government. Unto us a child is born. Unto us a son is given. And the government shall be upon His shoulder. And His name shall be called Wonderful Counselor, the Mighty God, the Everlasting Father, the Prince of Peace. Of the increase of His government and peace, there shall be no end upon the throne of David and upon His kingdom to order it and to establish it with judgment and with justice from henceforth even forever. The zeal of the Lord of Hosts will perform this. And so Jesus as our Mediator King, the Governor of the nations, He executes the Father's will we heard this morning for the good of His people. And so here, what appears to men to be random or chaotic or arbitrary is the providence of the all-wise God in Jesus Christ who is the Governor of the nations. Do you understand that? That nothing, absolutely nothing comes upon us by chance. It's not just fate. It's not just something that happens on a whim. Or according to the will of man. It is all ordained by Jehovah, the living and true God and governed through Jesus Christ as our Mediator and King working to save all of His elect in this world and so for the good of the church. Now would the people of God desire not to be afflicted? Yeah, of course. Would the people of Judah desire not to go into the Babylonian captivity? Of course they would not want to go into the Babylonian captivity. They would prefer not to go. And yet it was ordained by the Lord our God and He was glorified in it and brought this upon His people for their good, for the remnant within Judah, the believing, true covenant keepers from amongst the many covenant breakers. He did it for their good. And so it is our duty in similar things to see the hand of the Lord working in all things and let us see His wisdom and grace seeking them out, meditating upon His Word that we would see these things, all things that come upon us even at the hands of the ungodly. And we would see it in accordance with His eternal decrees and good providence for our good, whether the providence seems good or is dark at the time of its coming. We would still see it as God working for our good. And so the governor of the nations is Jesus Christ and we're thankful that He is in complete control. A third point, the nation's vanity in coming together. The nation's vanity in coming together. Verse 5, the isles saw it and feared. The ends of the earth were afraid, drew near and came. They helped everyone his neighbor and everyone said to his brother, be of good courage. And so the carpenter encouraged the goldsmith. And he that smootheth with the hammer, him that smote the anvil, saying, it is ready for the soldering, and he fastened it with nails that it should not be moved. This is the reaction of the nations to Cyrus's conquering approach. There are two main things here of their reaction. The first thing that they do knowing Cyrus is going to come up against them is they come together. They join up forces. They make alliances. It says, the isles saw it and feared. They were in a panic. Where did they turn? Did they turn to the Lord? No. It says, the ends of the earth were afraid, drew near and came. And what's saying there is that they came together. That's the word used. They came together. They turned to one another. And so verse 6, they helped everyone his neighbor and everyone said to his brother, be of good courage or be strong. They come together. They try to reassure themselves that they can deal with this Cyrus thing and this great army of his. The wicked today do the same thing in our day. The nations do this today. And it is meaningless unity or what appears to be unity. It's not unity as described by God in the scriptures, but it's the appearance of unity. And it's meaningless. They don't have these nations coming together like the United Nations, the European Union, G8, NATO, all these kind of things. We go on and on. There's many of them today. Many forms they take from various nations so that today whatever comes to these nations, they say, we can handle it. We just need to come together. We need to join together. That's the answer. We need more nations to come together. There's terrorism. There's Russia or whoever the great enemy might be the next day and today. We just need to come together and stand together against this evil or that evil. So they call it. But you have to ask yourself, what is evil without God? What is evil without God? The ungodly do not know. They have no true definition of evil because without God, there's no such thing as good and evil. And they don't believe in God. Because God defines what is good. He defines what is evil. What is the living and true God? What He approves of and does is good by definition. It has to be good because He's infinite, eternal, and unchangeable in His goodness. He is good. What He says is good. What He approves of is good. All that contradicts His Word is evil. And so men talk of standing together as if they know what is good and therefore they can combat evil amongst the nations. But this coming together by them is vanity, the Lord says here. And the second thing that they do is continue in idolatry. Verse 7, So the carpenter encouraged the goldsmith, and he that smootheth with the hammer, him that smote the anvil, saying, it is ready for the soldering, and he fastened it with nails that it should not be moved. They're working together. They're coming together, these nations. Here in verse 7, there's different types of craftsmen. And the illustration is speaking of these are the nations, the different nations coming together. They have a different part they can do. But it shows to us in this illustration their idolatries coming together, that they work together. The carpenter, he makes the basic structure. The goldsmith and the metalworker, they overlay it with gold and hammer it into place. And then they need some soldering to fasten it all together. And then someone nails it to the wall to fix it in place. And they coming together doing this to determine that'll help against this great power of Cyrus, which is in the background, of course, we know is the Lord, verse 4. It's the Lord who's sending Cyrus. And so what the nations are coming together and doing is like, well, we just need to come together and get better at idolatry. That's what we need to do. Let's come together. Let's pull our idolatry, our various gods, our false gods, together into some new idols or new idol. And if you know your history in the world, this also happens a lot. There is a constant folly in the heart of man without saving grace. In every crisis, he comes up with the same predictable act of unbelief. The form of it varies, but it's really much more of the same, idolatry. And so Cyrus is coming. We'll stand together. We'll make some new idols. All is going to be well. Men continue to walk in darkness without the renewing work of the Holy Spirit who alone is able to bring them and make them willing to believe the truth and trust in the Lord Jesus Christ. They're fearful. They're afraid. But they look to one another. They look to false religion, to their imaginary gods to help them, and not to Jehovah and Jesus Christ. The nation's vanity in coming together. And then, fourthly, the friends of God need not fear. The friends of God need not fear. Verse 8, But thou, Israel, art My servant. Jacob, whom I have chosen, the seed of Abraham My friend. Thou whom I have taken from the ends of the earth and called thee from the chief men thereof and said unto thee, Thou art My servant. I have chosen thee and not cast thee away. And verse 10 goes on and says, Fear thou not, for I am with thee. The Lord reveals here that the people of God must be totally different than the nations. They were chosen by the Lord, or the Lord chose Israel as a people to be His bride, the church, and on earth, the visible church, the outward form of the church. But the Lord also chose individuals to be heirs of salvation. He had chosen them to be His servant. Verse 8, it says, But thou, Israel, art My servant. Jacob, whom I have chosen. And this divine choice caused Israel to be His servant. It wasn't the other way around. It wasn't the Lord's choice. It wasn't the people's choice that caused them to be the Lord's. It was the Lord's choosing of them that made them to be His servants. Both in the outward sense and the ultimate sense of the actual born-again people of God. And so there is in the sense of the corporate people of God, the Lord chose the corporate people of God. He also chose us individually. And both those senses are here described. God had chosen the heirs of salvation. And He calls them the seed of Abraham as promised in Covenant. My friend. In the Scriptures, Abraham is called a couple of times the friend of God. 2 Chronicles 20, King Jehoshaphat is praying to the Lord. He says, Art not thou our God who didst drive out the inhabitants of this land before thy people Israel and gavest it to the seed of Abraham, thy friend forever? James 2. And the Scripture was fulfilled which says, Abraham believed God and it was imputed unto him for righteousness, and he was called the friend of God. What is it to be the friend of God? It is to be at peace with God. To be forgiven and accepted in Christ Jesus. To be in the bond of the everlasting covenant. Genesis 18, the Lord said, Shall I hide from Abraham that thing which I do, seeing that Abraham shall surely become a great and mighty nation and all the nations of the earth shall be blessed in him? The Lord said, Shall I hide from Abraham what I do? The answer there, No. Abraham is his friend. And so he tells Abraham what he will do. He shows Abraham his counsel and purpose just as he does thankfully to each of us here. Psalm 25. It says, The secret of the Lord is with them that fear Him, and He will show them His covenant. That word secret in Psalm 25 has the idea of confiding friendship or confiding in your friend. And we confide our secrets in our friends and those near us. Here it is the Lord, He opens His truth to His friends. John 15, You are My friends, if you do whatsoever I command you. Henceforth I call you not servants, for the servant knoweth not what his Lord doeth, but I have called you friends. For all things that I have heard of My Father I have made known unto you. You have not chosen Me, but I have chosen you and ordained you that you should go and bring forth fruit and that your fruit should remain that whatsoever you so ask of the Father in My name He may give it you. Jesus is saying, You are all My friends because the Father has given you to Me. He's teaching them the purpose of the Father in which He is confiding in His friend not that the Lord needs to do that in the way that we do when we confide in someone, but He's opening up His counsel to His friends so that they can know. They can have knowledge of the truth, of the good news of the Gospel, and even what is to come so that they would be prepared for it. That's what a friend will do. They'll tell you the truth. That's what the Lord does with us as people. And so the people of God have the Word of God. They've been given grace to begin to understand it. And so they do understand what the world does not understand. Now, the Lord has not revealed everything to us, but the Scriptures tell us all that we need to know. And as God's people search the Scriptures, the Lord gives understanding by His grace and Spirit so that His people increase in their understanding of the Word of God. And though our understanding is finite, it's limited, yet the people of God live in, like we heard last Lord's Day, in a different world in the sense compared to the ungodly who believe all their lives and they live in this fantasy world. The ungodly do not understand. They may have a mass of individual facts that are out there in the world, but really to them, it's no meaning. It has no meaning. No true meaning. The connections aren't there. But the weakest believer, the little ones, the weakest believer understands because he knows the God of Heaven and receives the truth. He has an understanding, not complete understanding, but understanding nonetheless, a beginning of understanding that even the wise and mighty of the world, the intelligent, the geniuses of the world who know not God, who are fools, that they don't have. And so the ungodly, they talk as if they know, but they don't really know. They don't know why they're here. They don't want to know why they're here. They don't know where they're going and yet they put on a show. They put on a pretense. Ungodly people are pretending all the time that they have some idea of what's really happening in this world. And they have no idea what's happening in this world because they don't believe the truth. They've rejected it. They've suppressed that knowledge. The Word of the Lord is not in them, but the people of God know. And so when Cyrus comes, the Lord's instrument, He's speaking to His people Judah. When Cyrus comes with all His armies and the nations panic and come together and make their idols, the Lord says, fear not. Fear not, for the Lord will work Cyrus for your good. And He'll deliver you from Babylon. He will govern Cyrus and every one of His soldiers for the good of His church and His people. And so it says in verse 9, Thou whom I have taken from the ends of the earth and called Thee from the chief men thereof and said unto Thee, Thou art My servant. I have chosen Thee and not cast Thee away. The regathering of a scattered people under the oppression of the mighty from captivity in Babylon. And there may be also a thought here of looking beyond to the engathering of the elect of God from among the nations and the Gentiles. But verse 10, He says, fear not. I have called Thee. Thou art My servant. Verse 9, The Lord will preserve His people a seed to serve Him in each generation. And we know the promises. The mercy of the Lord is everlasting to everlasting. Upon them that fear Him and His righteousness unto children's children such as keep His covenant. The covenant made with Abraham would stand to a thousand generations. Each generation still stands today. And the elect of God enabled to keep the covenant through faith in the coming Savior at that time. God would be their God in each generation. So they need not be afraid because like Abraham, they're friends of God. They have the knowledge of God in Christ Jesus. They know that He governs all things for their good as was already prophesied in Isaiah 9. They know. Their life, they know, is hidden with God in Christ. And they, as we heard this morning, will be preserved, kept. Not one of His little ones will perish. Colossians 3, when Christ who is our life shall appear, then shall ye also appear with Him in glory. So the blessedness of the people of God is so great to have this God as our God and Jesus Christ to be an heir of God. Joint heirs with Christ to know that you have been chosen in Christ before the foundation of the world. To know that you've been born from above by the Holy Spirit and enabled by His grace to embrace the promises of mercy in Christ Jesus found in the Gospel. To know that the God who made the heavens, that He and His Son is governing all things in our interest for our sake. And by the Holy Spirit has granted us to know these things and understand these things. And so here He exhorts you be not like the nations. Be not like the world that do not believe in fear. Fear not with their fear. They have reason to be afraid. They have reason to be afraid of every falling leaf in the fall, every droplet of rain in the spring. They have reason to be afraid of these things. Everything that contains care and the grounds of fear for the ungodly. But the people of God, those who know their God, who trust in Christ, they can be strong by turning to Him, waiting upon Him and knowing that He will renew their strength. And so we're called as we were last Lord's Day to fix our hearts to trust in the Lord, confident in Him and His Word, His promises, hope in His promises, and let not your heart be troubled. Now, neither let your heart be afraid, but turn to the Lord and put your confidence in Him. He says, Fear thou not for I am with thee. Be not dismayed for I am thy God. I will strengthen thee. Yea, I will help thee. I will uphold thee with my right hand of my righteousness. And so, put your confidence in the Lord and turn to Him. Let's pray. Gracious Father, thankful for Your almighty power and strength, Your hand of providence that is good to us, Your people, Your grace and Your Holy Spirit and Your mercy as You work in us by Your Spirit, grace upon grace. Cause us not to fear, but hope and trust and grant us greater understanding of the truth in Your Word. Keep us from every false way and complaining and grumbling as well, questioning You as if You couldn't see, as if You don't know that You're not going to act. We know that You will act as You've given all authority in heaven and on earth to the Lord Jesus Christ, our Mediator and King, the Governor of the nations, and He rules over all, even now, for the sake of the church. And as we put our confidence and our hope, we pray in Jesus' name. Amen.",
        "usage": {
          "type": "duration",
          "seconds": 2867
        }
      }
    ],
    "AI Agent": [
      {
        "output": "# Isaiah 41:1-9 Sermon\n\nLet's turn in the Word to Isaiah 41. Isaiah 41, this evening reading verses 1-9. Isaiah 41, verses 1-9. And before we read God's Word, let's pray together.\n\n### Prayer\n\nFather, we're thankful once again that you speak to us and reveal yourself, revealing even the mysteries to us in Christ your Son. Father, now we plead for your grace to be showered upon your people, your elect. That you would send your Holy Spirit and work in our minds, our hearts, our wills, and our affections. That you would mold us to be righteous as Christ Jesus your Son is righteous. And so make us to be a faithful people to you. And here, Father, we pray that you would humble us before your throne. Remembering that you are infinitely great and infinitely powerful as we heard in chapter 40, creating the trillions upon trillions of stars, knowing each one of them by name. Father, humble us. We pray in Jesus' name, Amen.\n\n### Reading of God's Word\n\nIsaiah 41, verse 1. These are God's words. Keep silence before Me, O islands, and let the people renew their strength. Let them come nearer, then let them speak. Let us come nearer together to judgment. Who raised up the righteous man from the east, called him to his foot, gave the nations before him, and made him rule over kings? He gave them as the dust to his sword and as driven stubble to his bow. He pursued them and passed safely, even by the way that he had not gone with his feet. Who hath wrought and done it, calling the generations from the beginning? I, the Lord, the first and with the last, I am He. The isles saw it and feared. The ends of the earth were afraid, drew near and came. They helped everyone his neighbor, and everyone said to his brother, Be of good courage. So the carpenter encouraged the goldsmith, and he that smootheth with the hammer him that smote the anvil, saying, It is ready for the soldering. And he fastened it with nails, that it should not be moved. But thou, Israel, art my servant. Jacob, whom I have chosen the seed of Abraham my friend, thou whom I have taken from the ends of the earth, and called thee from the chief men thereof, and said unto thee, Thou art my servant. I have chosen thee and not cast thee away. Those are God's words.\n\n### Context and Introduction\n\nThe context here is still the same as we heard last Lord's Day, same as chapter 40, where Judah is struggling with trusting the Lord that He is who He says He is. And they said in verse 27 of chapter 40, it says there, Why sayest thou, O Jacob, and speakest thou Israel? So here's what God's people say, the covenant people say, My way is hid from the Lord, and my judgment is passed over from my God. \n\nWe've seen that if they and we ourselves would just think and believe rightly about God, you know what chapter 40 revealed to us of God, then we and they would have abundant grounds for waiting upon the Lord and having our strength renewed, as we heard in the last verse, verse 31 of chapter 40. But now the Lord here turns to the nations, the pagan nations. If the Lord is who He is in chapter 40, He reminds His people of who He is to them and for them, His great and almighty, all-powerful, eternal, unchangeable God. And what about the nations which reject Him and do not believe in Him? What about Assyria? As recently we've heard come up against them. And Babylon, that nation who's been promised to come and take Judah into captivity. What about them?\n\n### The Nation's Strength is Vanity Before the Lord\n\nThe first point this evening, the nation's strength is vanity before the Lord. See, in verse 1 it says, Keep silence before me, O islands, and let the people renew their strength. Let them come nearer. Then let them speak. Let us come nearer together to judgment. So here the Lord turns to the nations who reject Him, especially the coastland islands, the Mediterranean Sea. And He challenges them to gather up all their strength. He just used similar language in verse 31 to God's covenant people. Wait upon the Lord and the Lord shall renew your strength. And now He uses that similar language as He turns to the nations. \n\nAnd He reminds His people of who He is to them and for them. So then what about the nations? You see, the Lord confronts the nations who do not wait, verse 31 of chapter 40, who do not wait upon the Lord and who do not trust in the Lord. He says to them, Let the people renew their strength. Go ahead. Renew your strength. So He's saying to them that though they do not wait upon the Lord for Him to exchange their strength, their weak strength, right? Their weakness. They don't wait upon Him to exchange their strength and to exchange that for His strength by His infinite, eternal, and unchangeable might and power. Now He says, Let them renew their own strength. That's what He's saying. \n\nLet them gather up all the strength they have and take hold of any other strength they can muster that they can gain from all their self-confidence and all from their false gods, their idols. And so here the Lord is challenging the nations to the futile activity of gathering their own strength apart from the Lord and see if they can prevail against Him. That same type of strength we saw last Lord's Day, chapter 40, verse 30, even the youths and the young men in their strength, right? Faint and become weary. So He's saying there in verse 30, in case you weren't here, even the youths, the young men, they have the most strength. \n\nThe Lord has given them commonly all young men, generally speaking, strength greater than older folks or even children. And here in the same way, that same type of strength is what is being described of as the nations. They will faint and they will become weary. So that those who do not trust in Jehovah and hope in Him and look to Him for strength, what the Lord is saying is, gather your own strength then and see how you do against Me rather than waiting truly upon Me. Let them be silent, He says, while the Lord speaks, to see if the nations can answer. He says here again, verse 1, keep silence before Me, O islands, and let the people renew their strength. \n\nLet them come near. Then let them speak. Let us come near together to judgment. And so the Lord is saying again to the nations, do you see what you can do? Let's see what you can do. Keep silence and listen to Me. And then see if you can answer in judgment. See if the nations can make a case for themselves before the Judge of all creation. And so the verse is telling us that all self-reliance and all false confidences end in disaster because we know what is going to happen when they come up before the Lord. They're doomed. They cannot contend with the Lord who is almighty in power and strength and prevail even once in an infinite amount of opportunities. Right? They can do nothing. They will never prevail against Him. \n\nAll those unbiblical hopes of ultimate happiness that they have, the nations have, will come to nothing. We either have a well-grounded hope according to the Scriptures, or we live in a fantasy world like we heard last Thursday, a lie every day. If your confidence is in the Lord according to His will, then you shall not be put to shame. You will not be ashamed in all your hoping in His promises as we heard last Thursday waiting upon Him. But if your confidence is somewhere else, then the Lord will bring that confidence to nothing. He's saying. Deuteronomy 4, it says, for the Lord thy God is a consuming fire, even a jealous God. He's showing that here. He will not give His glory to another. He will not prosper the false hope of unbelieving men. \n\nAnd so all those unbiblical hopes of true happiness, unbiblical hopes of true happiness are doomed. Perhaps you hope to be happy ultimately forever. Well, what is the ground of that hope? Why do you have certainty that you will have what you want when you're hoping in that? Is it wishful thinking? Or is it confidence in the words that have proceeded out from the mouth of the living and true God? Is it confidence in God's promises? Promises of His mercy? Promises of His forgiveness? Promises of glory to them who believe on Christ Jesus? Because if it is not confidence in the Lord, if it is not confidence in His Word and hope in His promises, then all other confidences are futile. And before this, God, You will fall and be judged so that here the nations are called to take up all their strength, everything they can muster, and yet it will be as nothing before the Sovereign Almighty God of all creation. The nation's strength is vanity before the Lord.\n\n### The Governor of the Nations\n\nAnd then secondly, the governor of the nations. Verse 2, it says, who raised up the righteous man from the east, called him to His foot, gave the nations before Him, and made Him rule over kings? He gave them as the dust to His sword and as driven stubble to His bow. He pursued them and passed safely even by the way that He had not gone with His feet. Who hath wrought and done it, calling the generations from the beginning? I the Lord, the first and with the last, I am He. Here again, like chapter 40, the Lord is speaking of Himself. Who He is. What He does. And He again, speaking of Himself, asks a rhetorical question in verse 4. \n\nWho? Who is the question in verse 4? We already know the answer, and it does say the answer there. It's the Lord who has done it. Who is described as the righteous man from the east in verse 2 then? This is a little bit more difficult, but when we look at the original language, we are helped as well. When we look at the context of the rest of the book of Isaiah, the rest of what the Scriptures teach, we are helped immensely. Verse 2 begins literally like this. Who raised up righteousness from the east? And yet then the translation here personifies righteousness. The thought here is that there is a man who is an instrument of God's providential righteousness in view. Not that the man himself is righteous, but that there is an instrument being used by the Lord bringing this man from the east, and he will be the instrument of the Lord's righteousness. Not necessarily his righteousness, it is the Lord's righteousness and him being used as an instrument of the Lord. \n\nFrom this we would believe this refers to Cyrus the king of the Medes and Persians. And so here is another early reference to even before the Babylonian exile, even before Cyrus is alive. Another example of this in the book of Isaiah. In Isaiah we've seen this before. There have been many things that have been introduced little by little. Even through the book of Isaiah, it's progressively revealed, just like the covenants are progressively revealed throughout all the Scriptures. So, there are certain things in Isaiah, the book itself that's introduced and revealed to us little by little with general comments, beginning with general comments with no names, to then later revealing more. \n\nWe heard early on about how Assyria, they knew about Assyria at the time, but they were told it's not going to be Assyria that takes you captive. They will not defeat you. But there is another nation who will take you into captivity, but we didn't know the nation's name yet. We knew, of course, because we're looking at all the Scriptures, but they didn't know yet. And then just recently we read how the Lord revealed it was Babylon who was going to do this. Well, Babylon's not even a great nation yet. And at the time of the first revealing of the nation's going to take you into captivity, Babylon wasn't even close to being known among the people. So here it is the same with the identity of Cyrus. In Isaiah 45 it says this, Thus saith the Lord to His anointed, to Cyrus, whose right hand I have holden to subdue nations before him, and I will loose the loins of kings to open before him the two leaved gates, and the gates shall not be shut. I will go before thee and make the crooked places straight. I will break in pieces the gates of brass and cut and sunders the bars of irons, and I will give thee the treasures of darkness and hidden riches of secret places that thou mayest know that I the Lord which call thee by thy name am the God of Israel. \n\nAnd then also Isaiah 46. And notice the similar language of from the east here. It says, Calling a ravenous bird from the east that man that executed my counsel from a far country. Right? It's not literally a bird. It's talking about a man that's going to execute my counsel from a far country, so not from within Judah. Yeah, I have spoken it. I will also bring it to pass. I have purposed it. I will also do it. And so the Lord is thus in our passage. We know now, speaking of future things, of how He will use a man, and we know that man's name, Cyrus, the king of the Medes and Persians, though he's not even born yet at this time. \n\nAnd the Lord is going to use Cyrus to deliver His people, His covenant people, from the Babylonian exile. And He's speaking of them here, of those events as past events that they are so sure of happening, they are described as happening in the past, and yet still hasn't actually happened at this point in Isaiah 41 yet. And the Lord says here that He would call them to His foot, that is to His footstool. Cyrus would be His servant to fulfill His glorious purpose that He of course eternally decreed before creation. And then Cyrus' victories are described. Verse 2, that the Lord gave the nations before Him and made Him ruler over kings. He gave them as dust to His sword and driven stubble to His bow. \n\nVerse 3, He pursued them and passed safely even by the way that He had not gone with His feet. And so what we're learning there is that Cyrus' victories would be great so He would pursue, but He would not be pursued Himself. And then verse 4, the question comes again. Who? Who hath wrought and done it? Who brings about Cyrus? Who brings about Assyria? Who brings about Babylon? Who hath wrought and done it, calling the generations from the beginning even I the Lord, the first and with the last, I am He. \n\nSo long before Cyrus was even around, the Lord's revealing this to His people of Judah. This is again before the Babylonian exile even started. Before Babylon is itself a world power called the world power later in the Scriptures. You see, the Lord did this. He says, I have this purpose fixed so much so that it is for Me, for the Lord. It is already history. It is that certain that it's already accomplished. That you will go into exile. Cyrus, My servant, will deliver you. He is the One who calls the generations into existence. He is the eternal God. He is the first and the last. He's always been, He always will be. \n\nAnd He governs everything in every generation. And you remember this is the title given as well to the Lord Jesus, Revelation 1, saying, I am Alpha and Omega, the first and the last. In Revelation 22, beginning of Revelation, and end of Revelation. The same thing, I am Alpha and Omega, the beginning and the end, the first and the last. Because the Lord Jesus is Jehovah, the second person of the one Godhead, He is called the beginning and the end. And here is the Lord declaring that He has ordained the end from the beginning. \n\nThat the whole history of man and his people, all generations, is ordained from before the foundation of the world, much similar to what we heard this morning. And that, of course, includes Judas' captivity in Babylon. It includes Cyrus' conquering Babylon as a means of deliverance and sending them back to Jerusalem. That this was ordained of God from eternity. Friends, if those things are true, we also know, yes, they are true. We also know everything else that occurs in this world is also ordained of God from all eternity. And from this, we can draw comfort. Just like we heard this morning, we draw comfort from these things. \n\nComfort from a God who is in complete control. And comfort. But it's a comfort that's only granted by God to you if you are one of His children. That the sovereign God governs all things. And through our eyes, I go back to chapter 40 in verse 27, and the question there is, it doesn't seem like you know what's going on, God. It doesn't seem like you care, you're acting. Through our eyes, perhaps it seems random, arbitrary, somewhat chaotic, what happens in this world. And yet, we need to remember the Word of God and what He says. Everything is ordained of God from eternity. \n\nAnd He brings it about in time according to His providence, as we heard about that again this morning. Those troubles and afflictions that come upon us even at the hand of men, even at the hand of men, they seem so meaningless, sometimes random, but they're all governed by the sovereign God of heaven and earth. And that means for the people of God that there is a guarantee confirmed by His Word that He will work all things together for our good. And we know that Jesus Christ as Mediator King, as the Governor of the nations, has been given power and authority to govern here in this way over all creation for our good, for the sake of the church, Ephesians 1. \n\nRemember back in Isaiah 9 about His government. Unto us a child is born. Unto us a son is given. And the government shall be upon His shoulder. And His name shall be called Wonderful Counselor, the Mighty God, the Everlasting Father, the Prince of Peace. Of the increase of His government and peace, there shall be no end upon the throne of David and upon His kingdom to order it and to establish it with judgment and with justice from henceforth even forever. The zeal of the Lord of Hosts will perform this. And so Jesus as our Mediator King, the Governor of the nations, He executes the Father's will we heard this morning for the good of His people. And so here, what appears to men to be random or chaotic or arbitrary is the providence of the all-wise God in Jesus Christ who is the Governor of the nations. \n\nDo you understand that? That nothing, absolutely nothing comes upon us by chance. It's not just fate. It's not just something that happens on a whim. Or according to the will of man. It is all ordained by Jehovah, the living and true God, and governed through Jesus Christ as our Mediator and King, working to save all of His elect in this world and so for the good of the church. Now would the people of God desire not to be afflicted? Yeah, of course. Would the people of Judah desire not to go into the Babylonian captivity? Of course they would not want to go into the Babylonian captivity. They would prefer not to go. And yet it was ordained by the Lord our God and He was glorified in it and brought this upon His people for their good, for the remnant within Judah, the believing true covenant keepers from amongst the many covenant breakers. He did it for their good. \n\nAnd so it is our duty in similar things to see the hand of the Lord working in all things and let us see His wisdom and grace seeking them out, meditating upon His Word that we would see these things, all things that come upon us even at the hands of the ungodly. And we would see it in accordance with His eternal decrees and good providence for our good, whether the providence seems good or is dark at the time of its coming. We would still see it as God working for our good. And so the governor of the nations is Jesus Christ, and we're thankful that He is in complete control.\n\n### The Nation's Vanity in Coming Together\n\nA third point, the nation's vanity in coming together. Verse 5, the isles saw it and feared. The ends of the earth were afraid, drew near and came. They helped everyone his neighbor, and everyone said to his brother, be of good courage. And so the carpenter encouraged the goldsmith. And he that smootheth with the hammer, him that smote the anvil, saying, it is ready for the soldering, and he fastened it with nails that it should not be moved. This is the reaction of the nations to Cyrus's conquering approach. There are two main things here of their reaction. The first thing that they do knowing Cyrus is going to come up against them is they come together. They join up forces. They make alliances. \n\nIt says, the isles saw it and feared. They were in a panic. Where did they turn? Did they turn to the Lord? No. It says, the ends of the earth were afraid, drew near and came. And what's saying there is that they came together. That's the word used. They came together. They turned to one another. And so verse 6, they helped everyone his neighbor, and everyone said to his brother, be of good courage or be strong. They come together. They try to reassure themselves that they can deal with this Cyrus thing and this great army of his. The wicked today do the same thing in our day. The nations do this today. \n\nAnd it is meaningless unity or what appears to be unity. It's not unity as described by God in the scriptures, but it's the appearance of unity. And it's meaningless. They don't have these nations coming together like the United Nations, the European Union, G8, NATO, all these kind of things. We go on and on. There's many of them today. Many forms they take from various nations so that today whatever comes to these nations, they say, we can handle it. We just need to come together. We need to join together. That's the answer. We need more nations to come together. There's terrorism. There's Russia or whoever the great enemy might be the next day and today. \n\nWe just need to come together and stand together against this evil or that evil, so they call it. But you have to ask yourself, what is evil without God? What is evil without God? The ungodly do not know. They have no true definition of evil because without God, there's no such thing as good and evil. And they don't believe in God. Because God defines what is good. He defines what is evil. What is the living and true God? What He approves of and does is good by definition. It has to be good because He's infinite, eternal, and unchangeable in His goodness. He is good. What He says is good. What He approves of is good. All that contradicts His Word is evil.\n\nAnd so men talk of standing together as if they know what is good and therefore they can combat evil amongst the nations. But this coming together by them is vanity, the Lord says here. And the second thing that they do is continue in idolatry. Verse 7, So the carpenter encouraged the goldsmith, and he that smootheth with the hammer, him that smote the anvil, saying, it is ready for the soldering, and he fastened it with nails that it should not be moved. They're working together. They're coming together, these nations. Here in verse 7, there's different types of craftsmen. And the illustration is speaking of these are the nations, the different nations coming together. They have a different part they can do. But it shows to us in this illustration their idolatries coming together, that they work together. \n\nThe carpenter, he makes the basic structure. The goldsmith and the metalworker, they overlay it with gold and hammer it into place. And then they need some soldering to fasten it all together. And then someone nails it to the wall to fix it in place. And they coming together doing this to determine that'll help against this great power of Cyrus, which is in the background, of course, we know is the Lord, verse 4. It's the Lord who's sending Cyrus. And so what the nations are coming together and doing is like, well, we just need to come together and get better at idolatry. That's what we need to do. Let's come together. Let's pull our idolatry, our various gods, our false gods, together into some new idols or new idol. \n\nAnd if you know your history in the world, this also happens a lot. There is a constant folly in the heart of man without saving grace. In every crisis, he comes up with the same predictable act of unbelief. The form of it varies, but it's really much more of the same, idolatry. And so Cyrus is coming. We'll stand together. We'll make some new idols. All is going to be well. Men continue to walk in darkness without the renewing work of the Holy Spirit who alone is able to bring them and make them willing to believe the truth and trust in the Lord Jesus Christ. They're fearful. They're afraid. But they look to one another. They look to false religion, to their imaginary gods to help them, and not to Jehovah and Jesus Christ. \n\nThe nation's vanity in coming together.\n\n### The Friends of God Need Not Fear\n\nAnd then, fourthly, the friends of God need not fear. The friends of God need not fear. Verse 8, but thou, Israel, art My servant. Jacob, whom I have chosen, the seed of Abraham My friend. Thou whom I have taken from the ends of the earth and called thee from the chief men thereof and said unto thee, Thou art My servant. I have chosen thee and not cast thee away. And verse 10 goes on and says, Fear thou not, for I am with thee. The Lord reveals here that the people of God must be totally different than the nations. They were chosen by the Lord, or the Lord chose Israel as a people to be His bride, the church, and on earth, the visible church, the outward form of the church. But the Lord also chose individuals to be heirs of salvation. \n\nHe had chosen them to be His servant. Verse 8, it says, But thou, Israel, art My servant. Jacob, whom I have chosen. And this divine choice caused Israel to be His servant. It wasn't the other way around. It wasn't the Lord's choice. It wasn't the people's choice that caused them to be the Lord's. It was the Lord's choosing of them that made them to be His servants. Both in the outward sense and the ultimate sense of the actual born-again people of God. And so there is in the sense of the corporate people of God, the Lord chose the corporate people of God. He also chose us individually. And both those senses are here described. God had chosen the heirs of salvation. \n\nAnd He calls them the seed of Abraham as promised in Covenant. My friend. In the Scriptures, Abraham is called a couple of times the friend of God. 2 Chronicles 20, King Jehoshaphat is praying to the Lord. He says, Art not thou our God who didst drive out the inhabitants of this land before thy people Israel and gavest it to the seed of Abraham, thy friend forever? James 2. And the Scripture was fulfilled which says, Abraham believed God and it was imputed unto him for righteousness, and he was called the friend of God. What is it to be the friend of God? It is to be at peace with God. To be forgiven and accepted in Christ Jesus. To be in the bond of the everlasting covenant. \n\nGenesis 18, the Lord said, Shall I hide from Abraham that thing which I do, seeing that Abraham shall surely become a great and mighty nation and all the nations of the earth shall be blessed in him? The Lord said, Shall I hide from Abraham what I do? The answer there, No. Abraham is his friend. And so he tells Abraham what he will do. He shows Abraham his counsel and purpose just as he does thankfully to each of us here. Psalm 25. It says, The secret of the Lord is with them that fear Him, and He will show them His covenant. That word secret in Psalm 25 has the idea of confiding friendship or confiding in your friend. \n\nAnd we confide our secrets in our friends and those near us. Here it is the Lord, He opens His truth to His friends. John 15, You are My friends, if you do whatsoever I command you. Henceforth I call you not servants, for the servant knoweth not what his Lord doeth, but I have called you friends. For all things that I have heard of My Father I have made known unto you. You have not chosen Me, but I have chosen you and ordained you that you should go and bring forth fruit and that your fruit should remain, that whatsoever ye shall ask of the Father in My name He may give it you. Jesus is saying, You are all My friends because the Father has given you to Me. \n\nHe's teaching them the purpose of the Father in which He is confiding in His friend not that the Lord needs to do that in the way that we do when we confide in someone, but He's opening up His counsel to His friends so that they can know. They can have knowledge of the truth, of the good news of the Gospel, and even what is to come so that they would be prepared for it. That's what a friend will do. They'll tell you the truth. That's what the Lord does with us as people. And so the people of God have the Word of God. They've been given grace to begin to understand it. \n\nAnd so they do understand what the world does not understand. Now, the Lord has not revealed everything to us, but the Scriptures tell us all that we need to know. And as God's people search the Scriptures, the Lord gives understanding by His grace and Spirit so that His people increase in their understanding of the Word of God. And though our understanding is finite, it's limited, yet the people of God live in, like we heard last Lord's Day, in a different world in the sense compared to the ungodly who believe all their lives and they live in this fantasy world. The ungodly do not understand. \n\nThey may have a mass of individual facts that are out there in the world, but really to them, it's no meaning. It has no meaning. No true meaning. The connections aren't there. But the weakest believer, the little ones, the weakest believer understands because he knows the God of Heaven and receives the truth. He has an understanding, not complete understanding, but understanding nonetheless, a beginning of understanding that even the wise and mighty of the world, the intelligent, the geniuses of the world who know not God, who are fools, that they don't have. And so the ungodly, they talk as if they know, but they don't really know. They don't know why they're here. They don't want to know why they're here. They don't know where they're going and yet they put on a show. They put on a pretense. \n\nUngodly people are pretending all the time that they have some idea of what's really happening in this world. And they have no idea what's happening in this world because they don't believe the truth. They've rejected it. They've suppressed that knowledge. The Word of the Lord is not in them, but the people of God know. And so when Cyrus comes, the Lord's instrument, He's speaking to His people Judah. When Cyrus comes with all His armies and the nations panic and come together and make their idols, the Lord says, fear not. Fear not, for the Lord will work Cyrus for your good. \n\nAnd He'll deliver you from Babylon. He will govern Cyrus and every one of His soldiers for the good of His church and His people. And so it says in verse 9, Thou whom I have taken from the ends of the earth and called Thee from the chief men thereof and said unto Thee, Thou art My servant. I have chosen Thee and not cast Thee away. The regathering of a scattered people under the oppression of the mighty from captivity in Babylon. And there may be also a thought here of looking beyond to the engathering of the elect of God from among the nations and the Gentiles. But verse 10, He says, fear not. I have called Thee. Thou art My servant. Verse 9, The Lord will preserve His people a seed to serve Him in each generation. \n\nAnd we know the promises. The mercy of the Lord is everlasting to everlasting upon them that fear Him and His righteousness unto children's children such as keep His covenant. The covenant made with Abraham would stand to a thousand generations. Each generation still stands today. And the elect of God enabled to keep the covenant through faith in the coming Savior at that time. God would be their God in each generation. So they need not be afraid because like Abraham, they're friends of God. They have the knowledge of God in Christ Jesus. They know that He governs all things for their good as was already prophesied in Isaiah 9. They know. \n\nTheir life, they know, is hidden with God in Christ. And they, as we heard this morning, will be preserved, kept. Not one of His little ones will perish. Colossians 3, when Christ who is our life shall appear, then shall ye also appear with Him in glory. So the blessedness of the people of God is so great to have this God as our God and Jesus Christ to be an heir of God. Joint heirs with Christ to know that you have been chosen in Christ before the foundation of the world. To know that you've been born from above by the Holy Spirit and enabled by His grace to embrace the promises of mercy in Christ Jesus found in the Gospel. To know that the God who made the heavens, that He and His Son is governing all things in our interest for our sake. \n\nAnd by the Holy Spirit has granted us to know these things and understand these things. And so here He exhorts you be not like the nations. Be not like the world that do not believe in fear. Fear not with their fear. They have reason to be afraid. They have reason to be afraid of every falling leaf in the fall, every droplet of rain in the spring. They have reason to be afraid of these things. Everything that contains care and the grounds of fear for the ungodly. But the people of God, those who know their God, who trust in Christ, they can be strong by turning to Him, waiting upon Him and knowing that He will renew their strength. \n\nAnd so we're called as we were last Lord's Day to fix our hearts to trust in the Lord, confident in Him and His Word, His promises, hope in His promises, and let not your heart be troubled. Now, neither let your heart be afraid, but turn to the Lord and put your confidence in Him. He says, Fear thou not for I am with thee. Be not dismayed for I am thy God. I will strengthen thee. Yea, I will help thee. I will uphold thee with my right hand of my righteousness. And so, put your confidence in the Lord and turn to Him. \n\n### Closing Prayer\n\nLet's pray. Gracious Father, thankful for Your almighty power and strength, Your hand of providence that is good to us, Your people, Your grace and Your Holy Spirit and Your mercy as You work in us by Your Spirit, grace upon grace. Cause us not to fear, but hope and trust and grant us greater understanding of the truth in Your Word. Keep us from every false way and complaining and grumbling as well, questioning You as if You couldn't see, as if You don't know that You're not going to act. We know that You will act as You've given all authority in heaven and on earth to the Lord Jesus Christ, our Mediator and King, the Governor of the nations, and He rules over all, even now, for the sake of the church. \n\nAnd as we put our confidence and our hope, we pray in Jesus' name. Amen."
      }
    ],
    "Google Docs1": [
      {
        "documentId": "1gL3FA5NyIQl7t1lg-QGrp-bFVXm-_Avd7kXAvKa3S7s"
      }
    ],
    "Church Content": [
      {
        "id": 71,
        "date": "2025-07-07T03:02:03",
        "date_gmt": "2025-07-07T03:02:03",
        "guid": {
          "rendered": "https://charlottewolfe2025.mystagingwebsite.com/?post_type=ctc_sermon&#038;p=71"
        },
        "modified": "2025-07-07T03:02:03",
        "modified_gmt": "2025-07-07T03:02:03",
        "slug": "test-sermon-2",
        "status": "publish",
        "type": "ctc_sermon",
        "link": "https://charlottewolfe2025.mystagingwebsite.com/sermons/test-sermon-2/",
        "title": {
          "rendered": "Test Sermon"
        },
        "content": {
          "rendered": "",
          "protected": false
        },
        "excerpt": {
          "rendered": "",
          "protected": false
        },
        "author": 3,
        "featured_media": 0,
        "comment_status": "open",
        "ping_status": "closed",
        "template": "",
        "ctc_sermon_topic": [],
        "ctc_sermon_book": [],
        "ctc_sermon_series": [],
        "ctc_sermon_speaker": [],
        "ctc_sermon_tag": [],
        "class_list": [
          "post-71",
          "ctc_sermon",
          "type-ctc_sermon",
          "status-publish",
          "hentry"
        ],
        "jetpack_sharing_enabled": true,
        "_links": {
          "self": [
            {
              "href": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/ctc_sermon/71",
              "targetHints": {
                "allow": [
                  "GET"
                ]
              }
            }
          ],
          "collection": [
            {
              "href": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/ctc_sermon"
            }
          ],
          "about": [
            {
              "href": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/types/ctc_sermon"
            }
          ],
          "author": [
            {
              "embeddable": true,
              "href": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/users/3"
            }
          ],
          "replies": [
            {
              "embeddable": true,
              "href": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/comments?post=71"
            }
          ],
          "version-history": [
            {
              "count": 1,
              "href": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/ctc_sermon/71/revisions"
            }
          ],
          "predecessor-version": [
            {
              "id": 72,
              "href": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/ctc_sermon/71/revisions/72"
            }
          ],
          "wp:attachment": [
            {
              "href": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/media?parent=71"
            }
          ],
          "wp:term": [
            {
              "taxonomy": "ctc_sermon_topic",
              "embeddable": true,
              "href": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/ctc_sermon_topic?post=71"
            },
            {
              "taxonomy": "ctc_sermon_book",
              "embeddable": true,
              "href": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/ctc_sermon_book?post=71"
            },
            {
              "taxonomy": "ctc_sermon_series",
              "embeddable": true,
              "href": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/ctc_sermon_series?post=71"
            },
            {
              "taxonomy": "ctc_sermon_speaker",
              "embeddable": true,
              "href": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/ctc_sermon_speaker?post=71"
            },
            {
              "taxonomy": "ctc_sermon_tag",
              "embeddable": true,
              "href": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/ctc_sermon_tag?post=71"
            }
          ],
          "curies": [
            {
              "name": "wp",
              "href": "https://api.w.org/{rel}",
              "templated": true
            }
          ]
        }
      }
    ],
    "Transcription approval": [
      {
        "data": {
          "approved": true
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f318f1eeb582bef69a56797ad1f28184a54cfe51b0e461ee190c5740946ea07e"
  }
}
