Deepgram File Transcription
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -380,
        20
      ],
      "id": "05749c9d-39d9-4039-9595-18f9d99ab0eb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/sermons?slug=test-sermon",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        20
      ],
      "id": "2818e00e-9745-4f7e-b760-c3f43e4f5b17",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "VbJTgdXDOktiekjg",
          "name": "Unnamed credential 3"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/media/?parent={{ $json.id }}\n",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        20
      ],
      "id": "d45945c7-6448-4d03-911e-fb2961baf67e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "= {{ $json.source_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        20
      ],
      "id": "e6c3a115-3505-4e37-82fd-d6247c48e3a5",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepgram.com/v1/listen?punctuate=true&paragraphs=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "utterances",
              "value": "true"
            },
            {
              "name": "numerals",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        20
      ],
      "id": "60ce4645-f634-48d5-b6d7-326416bcabb4",
      "name": "HTTP Request3",
      "credentials": {
        "httpBasicAuth": {
          "id": "VbJTgdXDOktiekjg",
          "name": "Unnamed credential 3"
        },
        "httpHeaderAuth": {
          "id": "pwctZ6sqJ4uLT3eR",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "charlotte_wolfe@icloud.com",
        "subject": "Sermon Transcript",
        "emailType": "text",
        "message": "={{ $json.results.channels[0].alternatives[0].transcript }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        20
      ],
      "id": "ccf6f624-f327-4021-89b8-5adb7a85d41a",
      "name": "Gmail",
      "webhookId": "b081ecb9-22f7-4951-b70a-c43aba7c7e07",
      "credentials": {
        "gmailOAuth2": {
          "id": "rZdwGrO2BTAstFjW",
          "name": "CW Gmail Account "
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f318f1eeb582bef69a56797ad1f28184a54cfe51b0e461ee190c5740946ea07e"
  }
}
