Sermon Plugin Detection Improved
{
  "nodes": [
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -320,
        345
      ],
      "id": "81779280-8e91-4a45-a468-a0d8df381ff8",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "Advanced Sermons",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "id": "8d85b887-656c-48c2-9a4f-7caaa549ea9f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4c64b38d-828f-4c43-8ca6-425c38d357eb",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "Church Content",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e00f6823-8478-4223-9456-6a831bf0f6e0",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "Sermon Manager for WordPress",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -100,
        345
      ],
      "id": "19edb05f-1f56-46c7-9a49-0847fe94177f",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $json.website }}/wp-json/your-namespace/v1/plugins/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -680,
        220
      ],
      "id": "de70e13a-e700-4b37-a3dd-1c272e6b0732",
      "name": "GET plugin list",
      "credentials": {
        "httpBasicAuth": {
          "id": "w3lDIr718x5Qnprv",
          "name": "Wordpress App. Password"
        }
      }
    },
    {
      "parameters": {
        "content": "## Getting post attributes from different plugins\nCreating fields based on custom fields",
        "height": 680,
        "width": 760,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        40
      ],
      "typeVersion": 1,
      "id": "98e5a344-0391-4fc2-aee2-71b66216381e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1180,
        220
      ],
      "id": "f7b37a0c-a545-4ebb-a768-6aec2975115b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "## Input: Wordpress Website\nYouTube first ",
        "height": 280,
        "width": 720,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1220,
        100
      ],
      "typeVersion": 1,
      "id": "1dca69ee-2fb3-48bb-b1c3-643ceda1ad92",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "needs to connect to custom plugin installed on website",
        "height": 220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -760,
        140
      ],
      "typeVersion": 1,
      "id": "a79d002f-aea3-413d-b45d-f11ec85c172d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "path": "aba9e3bc-c920-437f-b1db-045357380d66",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -660,
        560
      ],
      "id": "b9cbe570-21c4-4621-a2c6-aab6b4c33326",
      "name": "Webhook",
      "webhookId": "aba9e3bc-c920-437f-b1db-045357380d66"
    },
    {
      "parameters": {
        "content": "## Input: list of plugins\nWordpress/Sermon Audio(?) first",
        "height": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -740,
        400
      ],
      "typeVersion": 1,
      "id": "6a505bae-4f0a-4345-90e5-4e7001485d2c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c293196-e7e9-4629-a46a-ce674b9479a2",
              "name": "website",
              "value": "https://charlottewolfe2025.mystagingwebsite.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -920,
        220
      ],
      "id": "93766730-e7be-4ab9-a2a4-a7b7ffc815af",
      "name": "Creating Website field"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "889ccc00-ea43-4057-9502-bc28adfeb17b",
              "leftValue": "={{ $('Aggregate').item.json.name }}",
              "rightValue": "Advanced Sermons Pro",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        100
      ],
      "id": "44e83322-42c9-4166-ba1c-6d47227d8075",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3001843-5e2a-46fd-8e48-2b5b42c819e1",
              "name": "wpfc_preacher",
              "value": "[]",
              "type": "array"
            },
            {
              "id": "39d97a72-0b81-497b-932c-aedf317ff855",
              "name": "wpfc_sermon_series",
              "value": "[]",
              "type": "array"
            },
            {
              "id": "e6ed86ff-04cf-49b7-8136-1a94bd7ebc38",
              "name": "wpfc_sermon_topics",
              "value": "[]",
              "type": "array"
            },
            {
              "id": "a5e580a2-6781-4deb-8296-32741adb055e",
              "name": "wpfc_bible_book",
              "value": "[]",
              "type": "array"
            },
            {
              "id": "daf3e6ff-3b90-49fd-b2ae-559fe19f93b7",
              "name": "wpfc_service_type",
              "value": "[]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        545
      ],
      "id": "a723d58b-c872-4482-8da3-850e35406aac",
      "name": "Sermon Manager taxonomies"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3997066f-9ca5-41a4-96f0-7c0dd50e4489",
              "name": "sermon_audio",
              "value": "",
              "type": "string"
            },
            {
              "id": "29f95b80-4b46-4ba0-8308-e90deb78d9a1",
              "name": "sermon_audio_duration",
              "value": "",
              "type": "string"
            },
            {
              "id": "181023cd-fc9c-45ce-9753-5c7043d8bfc1",
              "name": "bible_passage",
              "value": "",
              "type": "string"
            },
            {
              "id": "8f3bee8c-d684-4032-a7e6-17c0271c4719",
              "name": "sermon_video_embed",
              "value": "",
              "type": "string"
            },
            {
              "id": "be5ea3f5-c452-45e0-ab74-90223cf1bdde",
              "name": "sermon_video_embed_url",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        545
      ],
      "id": "686d7ea6-a731-46dd-8f1c-644320769c70",
      "name": "Sermon Manager custom fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        345
      ],
      "id": "efdd0c07-d2b1-4388-b398-1eac75513524",
      "name": "CTC Custom Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b963047f-ba30-4d90-a59b-e7776c21d9aa",
              "name": "ctc_sermon_speaker",
              "value": "[]",
              "type": "array"
            },
            {
              "id": "2afcb5d8-4e7f-413e-8d64-c9934741b8ad",
              "name": "ctc_sermon_series",
              "value": "[]",
              "type": "array"
            },
            {
              "id": "6aa80ba7-0506-4b30-97db-a56a10dc6b50",
              "name": "ctc_sermon_topic",
              "value": "[]",
              "type": "array"
            },
            {
              "id": "7c8c3198-d8aa-4398-989a-8ccf1b802635",
              "name": "ctc_sermon_tag",
              "value": "[]",
              "type": "array"
            },
            {
              "id": "c06e4946-963f-447a-9654-a1772c6b67af",
              "name": "ctc_sermon_book",
              "value": "[]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        345
      ],
      "id": "cdf1fb7f-1b3b-44c6-970d-3c29f8f17152",
      "name": "CTC Taxonomies"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "440b9717-c5d3-47b7-b702-ec29ba34df2e",
              "name": "ctc_sermon_topic",
              "value": "",
              "type": "string"
            },
            {
              "id": "d8776334-67fe-4868-98a4-6050a6166af2",
              "name": "ctc_sermon_book",
              "value": "",
              "type": "string"
            },
            {
              "id": "7c0fbeae-ff95-4d59-b8d8-7e2363532955",
              "name": "ctc_sermon_series",
              "value": "",
              "type": "string"
            },
            {
              "id": "a5010bfa-2401-4e4c-adc8-06cc73ec2f64",
              "name": "ctc_sermon_speaker",
              "value": "",
              "type": "string"
            },
            {
              "id": "41796fbb-c177-4613-a04c-541ee9c938e7",
              "name": "ctc_sermon_tag",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        95
      ],
      "id": "7d54d959-940e-4243-b290-e634cacd54ba",
      "name": "Advanced Sermons Taxonomies"
    },
    {
      "parameters": {
        "content": "## Setting up custom fields for posting",
        "height": 680,
        "width": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        300,
        40
      ],
      "typeVersion": 1,
      "id": "e1dd7b49-5e11-4947-a47f-9cde0b584160",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66ecf9b4-20eb-4192-bf22-2bf8afce3d00",
              "name": "asp_sermon_facebook",
              "value": "",
              "type": "string"
            },
            {
              "id": "913feb0b-38b3-4fd8-94ef-d552d5b2489a",
              "name": "asp_sermon_mp4",
              "value": "",
              "type": "string"
            },
            {
              "id": "295c0a8f-f38a-4d58-b595-fe4bd6d4cce5",
              "name": "asp_sermon_pdf",
              "value": "",
              "type": "string"
            },
            {
              "id": "7c80b52b-53b0-4d1b-b16d-8f2df4f3a618",
              "name": "asp_sermon_soundcloud",
              "value": "",
              "type": "string"
            },
            {
              "id": "d0c96f9a-e0cf-4a90-8cec-f702f55b311a",
              "name": "asp_sermon_video_embed",
              "value": "youtube",
              "type": "string"
            },
            {
              "id": "2831401a-11a9-4100-8612-f8368e8512b6",
              "name": "asp_sermon_youtube",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        100
      ],
      "id": "e1321aa9-888b-4c85-b401-d0aa57384356",
      "name": "Adv. Sermon Custom Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be40d5fc-bd1f-45e8-b02e-9cf6f6c5e20f",
              "name": "asp_sermon_audio_embed",
              "value": "",
              "type": "string"
            },
            {
              "id": "f1f85878-1de7-4cd0-9356-6c704ade0ea5",
              "name": "asp_sermon_bible_passage",
              "value": "",
              "type": "string"
            },
            {
              "id": "208446b5-a406-4a2f-b306-830b8dab4c28",
              "name": " asp_sermon_bulletin",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        60
      ],
      "id": "716ac085-5962-4101-b0e7-cbe93b1d2808",
      "name": "Adv. Sermons Pro Custom Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/sermons",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "test from n8n"
            },
            {
              "name": "status",
              "value": "draft"
            },
            {
              "name": "asp_sermon_youtube",
              "value": "https://www.youtube.com/watch?v=0ERms_W2xgw"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        180
      ],
      "id": "b0c07caf-3f58-404e-9bf7-c67ebb661c14",
      "name": "creating adv. sermons test post",
      "credentials": {
        "httpBasicAuth": {
          "id": "w3lDIr718x5Qnprv",
          "name": "Wordpress App. Password"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/ctc_sermon",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "transcript"
            },
            {
              "name": "title",
              "value": "test"
            },
            {
              "name": "status",
              "value": "draft"
            },
            {
              "name": "excerpt",
              "value": "idk"
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        345
      ],
      "id": "aac24a2a-549a-4d7d-8966-3ebe23f5a905",
      "name": "creating ctc test post",
      "credentials": {
        "httpBasicAuth": {
          "id": "w3lDIr718x5Qnprv",
          "name": "Wordpress App. Password"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/wp/v2/wpfc_sermon",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "test from n8n"
            },
            {
              "name": "status",
              "value": "draft"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        545
      ],
      "id": "209c9f6b-11cd-42bf-96e6-0a58dadd94d6",
      "name": "creating sermon manager test post",
      "credentials": {
        "httpBasicAuth": {
          "id": "w3lDIr718x5Qnprv",
          "name": "Wordpress App. Password"
        }
      }
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Advanced Sermons Taxonomies",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CTC Taxonomies",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sermon Manager taxonomies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET plugin list": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Creating Website field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creating Website field": {
      "main": [
        [
          {
            "node": "GET plugin list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Adv. Sermons Pro Custom Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "creating adv. sermons test post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sermon Manager taxonomies": {
      "main": [
        [
          {
            "node": "Sermon Manager custom fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sermon Manager custom fields": {
      "main": [
        [
          {
            "node": "creating sermon manager test post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CTC Custom Fields": {
      "main": [
        [
          {
            "node": "creating ctc test post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CTC Taxonomies": {
      "main": [
        [
          {
            "node": "CTC Custom Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advanced Sermons Taxonomies": {
      "main": [
        [
          {
            "node": "Adv. Sermon Custom Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adv. Sermon Custom Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adv. Sermons Pro Custom Fields": {
      "main": [
        [
          {
            "node": "creating adv. sermons test post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "f318f1eeb582bef69a56797ad1f28184a54cfe51b0e461ee190c5740946ea07e"
  }
}
