Sermon Plugin Detector Workflow
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        20
      ],
      "id": "ca0caff1-d132-4894-a9a1-dfadaade3b3c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://charlottewolfe2025.mystagingwebsite.com/wp-json/your-namespace/v1/plugins/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        20
      ],
      "id": "5b2175ad-fe85-4ea7-bb5a-dc771e2f2f20",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "VbJTgdXDOktiekjg",
          "name": "Unnamed credential 3"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        440,
        20
      ],
      "id": "7cfb2cd0-fdd0-4a31-82f9-9b5e3b87ff4c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "Advanced Sermons",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "id": "8d85b887-656c-48c2-9a4f-7caaa549ea9f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4c64b38d-828f-4c43-8ca6-425c38d357eb",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "Church Content",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e00f6823-8478-4223-9456-6a831bf0f6e0",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "Sermon Manager",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        20
      ],
      "id": "01541049-3f88-483d-8b85-d9efd57204ea",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eeb40412-7436-4b2f-80b5-025d69d3e655",
              "name": "sermon plugin",
              "value": "=Advanced Sermons",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -180
      ],
      "id": "025a6eb0-d59e-40d6-9c14-db8e58a00680",
      "name": "Advanced Sermons"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59968f0e-2b95-455d-80b8-36a59c523a3f",
              "name": "sermon plugin",
              "value": "Church Content",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        20
      ],
      "id": "bf984e08-e49c-4e5f-bf8d-33ce01e4ae03",
      "name": "Church Content"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d2e7c00-ea4e-4719-b20e-b96653890ddb",
              "name": "sermon plugin",
              "value": "Sermon Manager",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        220
      ],
      "id": "60a48667-6d9f-4f97-b6df-0b46f65766c8",
      "name": "Sermon Manager"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Advanced Sermons",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Church Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sermon Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f318f1eeb582bef69a56797ad1f28184a54cfe51b0e461ee190c5740946ea07e"
  }
}
